<div class="panel panel-default panel-category">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% major_categories.each do |major_category| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-<%= major_category.id %>"><%= major_category.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy-<%= major_category.id %>" class="collapse collapseItem">
              <% minor_categories[major_category.id].each do |minor_category| %>
                <% count = minor_category.products.to_a.count %>
                <% if count > 0 %>
                  <li>
                    <%= link_to potepan_category_path(minor_category.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= minor_category.name %> <span>(<%= count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>