<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(product.id), class: "product-#{product.id}" do %>
      <div class="productImage clearfix">
        <% image = product.images.first %>
        <%= image_tag(image.attachment(:small), alt: image.alt) if image.present? %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>