<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render "layouts/light_section", title: @product.name, is_added_shop_link: false %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "product_image", product: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <% if @taxon.present? %>
                  <%= link_to potepan_category_path(@taxon.id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                <% end %>
              </li>
            </ul>
            <%= render "product_summary", product: @product %>
            <%= render "order_field" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "related_products", related_products: @related_products if @related_products.present? %>
  </div>
</section>