<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= title %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", potepan_index_path %></li>
          <% if is_added_shop_link %>
            <li><%= link_to "shop", "#" %></li>
          <% end %>
          <li class="active page-title"><%= title %></li>
        </ol>
      </div>
    </div>
  </div>
</section>