<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-01.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-02.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-03.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-04.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-05.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-01.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-02.png" %>
          <%= render "layouts/partners_logo", image: "img/home/partners/partner-03.png" %>
        </div>
      </div>
    </div>
  </div>
</section>