<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <!-- HEADER -->
    <div class="header clearfix">
      <%= render "layouts/topbar" %>
      <%= render "layouts/navbar" %>
    </div>
    <%= yield %>
    <!-- LOGIN MODAL -->
    <%= render "layouts/login_modal" %>
    <!-- SIGN UP MODAL -->
    <%= render "layouts/signup_modal" %>
    <%= render "layouts/footer" %>
    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;">
    </ul>
    <%= debug(params) if Rails.env.development? %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
